.inputButtonDAO {
    background-color: #450000;
    width: 25vw;
    height: 75px;
    border-color: transparent;
    border-radius: 10px;
    color: white;
    font-family: "Cinzel", serif;
    font-size: 1.8vw;
    font-weight: bold;
    cursor: pointer;

}

.inputButtonDAO:hover{
    transition: 300ms;
    width: 26vw;
    height: 90px;
}


@media screen and (max-width: 1000px) {

    .inputButtonDAO{
        width: 40vw;
        font-size: 3vw;
    }

    @media screen and (max-width: 800px) {
        .inputButtonDAO{
            width: 80vw;
            font-size: 5.5vw;
        }
    }



}