.carousel-picture{
    border-radius: 15px;
}

.learn-more-team-text {
    font-size: 30px;
}

.team-description {
    text-align: center;
}

@media screen and (max-width: 1220px) {
    .learn-more-team-text {
        font-size:30px;
    }
}