:root {
    --primary: white;
}

.mint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button-container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 210px);
    margin-top: 40px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;

}


.button-right {
    background-color: var(--primary);
    border: 15px solid var(--primary);
    padding: 1px 30px;
    color: #f7ce4a;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
}

.button-left {
    background-color: var(--primary);
    border: 15px solid var(--primary);
    font-size: 30px;
    padding: 1px 30px;
    color: #f7ce4a;
    border-radius: 8px;
    cursor: pointer;
}

.mint-amount {
    font-family: 'Josefin Sans';
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 8px;
}

.mint-btn {
    font-family: 'Cinzel', sans-serif;
    background: transparent;
    color: white;
    border: 3px solid var(--primary);
    padding: 10px 100px 10px 100px;
    font-size: 30px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 40px;
}

.reserve-button {

    margin-top: 50px;
    font-family: 'Cinzel', sans-serif;
    background: transparent;
    color: white;
    border: 3px solid var(--primary);
    font-size: 30px;
    border-radius: 8px;

}



.mint-number {
    font-family: 'Josefin Sans';
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-size: 20px;
}

.pre-mint-logo{
    border-radius: 15px;
    width: 400px;
    height:auto;
}

.mint-btn:hover {
    transition: all 0.3s ease-out;
    background: var(--primary);
    border: 3px solid var(--primary);
    color: #f7ce4a;
    transition: 250ms;
}

@media screen and (max-width:1220px) {
    .pre-mint-logo{
        display: none;
    }
}

@media screen and (max-width: 850px){
    .mint-btn{
        width: auto;
        padding: 10px 20px 10px 20px;
        text-align: center;
        margin-bottom: 40px;

    }
    .button-left{
        margin: 20px;
        padding: 0px 10px;

    }
    .button-right{
        margin: 20px;
        padding: 0px 10px;

    }
    
}