

.connect-wallet-button {
    color: white;
    background-color: #450000;
    border-color: #450000;
    padding: 0.8vw 1vw 0.8vw 1vw;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}




.modal>.content {
    border-radius: 10px;
    background-color: #0c0b0be0;
    color: white;
    line-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.card {
    cursor: pointer;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transition: all 0.3s ease-out;
    background: #0c0b0be0;
    transition: 250ms;

}





@media screen and (max-width: 450px) {
    .connect-wallet-button {
        font-size: 10px;
    }
}





