.social-icons {
    margin-left: 100px;
}

.legalSection {
    display: flex;
    flex-direction: column;
    gap:10px
}

@media screen and (max-width:1220px) {
    .social-icons {
        margin-top: 20px;
        margin-left: 0px;
    }

    .legalSection {
        justify-content: center;
        align-items: center;
        gap:3px

    }

}