.header-links {
    color: white;
    text-decoration: none;
}

.wallet-selector-container {
    margin-left: 30px;
}

.logo-container {
    max-width: 150px;
    border-radius: 10px;
    background-color: black;
    height: auto;
}

@media screen and (max-width:1220px) {
    .wallet-selector-container{
        margin-left: 0px;
    }

}